#search input {
  color: #FFF;
}
#search input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #FFF;
}
#search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FFF;
  opacity:  1;
}
#search input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FFF;
  opacity:  1;
}
#search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFF;
}
#search input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #FFF;
}

.account-success #content {
  font-size: 14px;
}

#column-right .button-group {
  display: block;
}

.product-thumb.special .bg-grid {
  text-align: left;
  position: static;
  bottom: auto;
  right: auto;
}

#top ul li span {
  color: #FFF;
}

#content {
  min-height: inherit;
}

#menu .nav > li > a {
  font-size: 18px;
}

.box .box-heading span.quero-vender {
  font-size: 20px;
  margin-top: -10px;
  font-family: 'Lobster Two', cursive;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #F0821D url(../image/pat-bg.png);
  color: #EEEEEE;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
}
.box .box-heading span.quero-vender:after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
  border-top: 8px solid #F0821D;
}
